.blockFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background: #FFFFFF;
    border-bottom: #FF9568 6px solid;
    height: auto;
}
.footerLogo{
    margin: 0 120px;
    height: 30px;

}
.footerLogo a{
    display: block;
    width: 220px;
    height: 17px;
    background-image: url(../img/logo-night.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footerLinks{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.footerLinks a{
    margin: 10px 2%;
    display: block;
    height: 30px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #000000;

}
.footerCopyright{
    height: 30px;
    font-size: 18px;
    line-height: 25px;
    margin: 0 100px 0 50px;
    white-space: nowrap;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #000000;
}