*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*__________________________________*/

body{
    background: #F1F1F1;
}
@font-face {
    font-family: "Anton";
    font-weight: 400;
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "Open Sans";
    font-weight: 800;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: "Open Sans Condensed";
    font-weight: 300;
    src: url(../fonts/OpenSansCondensed-Light.ttf);
}
@font-face {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    src: url(../fonts/OpenSansCondensed-Bold.ttf);
}
.page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.blockTop{
    height: 733px;
}
.blockMission5{
    height: 608px;
}
.blockInvolved{
    display: flex;
    flex-wrap: wrap;
}
.blockNews{
    display: flex;
    flex-wrap: wrap;
}
.blockFaq{
    display: flex;
    flex-direction: column;

}
.blockFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFFFFF;
    border-bottom: #FF9568 6px solid;
    padding: 30px 16px;
}
.footerLogo{
    height: 30px;
    margin: 20px 0 0 0;
}
.footerLogo a{
    display: block;
    width: 152px;
    height: 12px;
    background-image: url(../img/logo-night.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footerLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.footerLinks a{
    display: block;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #000000;
    height: 30px;
}
.footerCopyright{
    height: 30px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #000000;
}